@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    margin: 0;
    background-color: rgb(164, 215, 245);
}
.main {
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
.menu {
    min-height: 60px;
    max-height: 70px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color:rgb(64, 120, 163);
}
.menu a:hover {
    color: rgb(164, 196, 240);
    font-weight: bold;
}
.menu a:active {
    color: white;
}
.menu a {
    padding: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0 5px;
}
.menu .actif {
    color: rgb(164, 196, 240);
    font-weight: bold;
}
.logo {
    width: 50px;
    margin: auto;
}
.headerAccueil {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0 0 15px 0;
    background-image: url('../images/clavier.jpg');
    background-size: 100%;
    height: 300px;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
}
.headerGénieLogiciel {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0 0 15px 0;
    background-image: url('../images/logiciel.jpg');
    background-size: 100%;
    height: 300px;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
}
.headerGénieInformatique {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0 0 15px 0;
    background-image: url('../images/serveur.jpg');
    background-size: 100%;
    height: 300px;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
}
.headerTechnologieInformation {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0 0 15px 0;
    background-image: url('../images/informatique.jpg');
    background-size: 100%;
    height: 300px;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
}
.headerSystèmeInformation {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0 0 15px 0;
    background-image: url('../images/système.jpg');
    background-size: 100%;
    height: 300px;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
}
h1 {
    color: white;
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.637);
}
.headerPropos{
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0 15px 0;
    display: grid;
    align-items: center;
}
.auteur {
    background:linear-gradient(to top, #1a3d51, #9fb6c3);
    margin: auto;
    border-radius: 100%;
    width: 270px;
    height: 270px;
    display: grid;
    align-items: center;
}
.photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    margin: auto;
}
.headerPropos h1 {
    background: none;
    color: black;
    margin: auto;
}
.corpsPropos{
    text-align: justify;
    padding: 0 30px 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.description {
    padding-left: 20px;
}
.corps {
    text-align: justify;
    padding: 0 30px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.corps li {
    margin: 10px 5px; 
}
.corps a{
    text-decoration: none;
}
.corps a:visited {
    color: blue;
}
.video {
    margin: auto;
    display: block;
    border: 3px solid black;
    width: 687px;
    height: 386px;
}
.sous-titre {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
}